<!DOCTYPE html>
<html>

<head>
  {{> analytics}}

  <meta charset="utf-8" />
  <title>InterestEDU</title>

  {{> headIncludes}}
</head>

<body>

  <h1>InterestEDU</h1>

  {{#if user}}

  <h2>Welcome, {{user.name}}</h2>

  <h3><a href="/profile">My profile</a></h3>

  <a href="/logout">Logout</a>

  <br />
  <br />

  {{#if interests}}
  <ul class="interests">
    {{#each interests}}
    <li class="interest">
      <a href="/interests/{{this.id}}">{{this.group_name}}</a>
    </li>
    {{/each}}
  </ul>
  {{/if}}

  {{else}}

  <a href="/login">Login</a>

  {{/if}}


  {{> footer}}
</body>

</html>
