<!DOCTYPE html>
<html>

<head>
  {{> analytics}}

  <meta charset="utf-8" />
  <title>InterestEDU</title>

  {{> headIncludes}}
</head>

<body>

  {{> nav}}

  <div class="container">

    {{#if user}}

    {{#if interests}}
    <!--<ul class="interests"> -->
      {{#each interests}}
      <div class="interest">
        <a href="/interests/{{this.id}}" class="interest-link">{{this.group_name}}</a>
      </div>
      {{/each}}
    <!--</ul> -->
    {{/if}}

    {{else}}

    <h2>Please <a href="/login">log in</a></h2>

    {{/if}}

  </div>

  {{> footer}}
</body>

</html>
