<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>InterestEDU</title>

  {{> headIncludes}}
</head>

<body>

  <h1>Complete your Registration</h1>

  <form action="/auth/complete_process" method="POST">
    <select id="year" name="year">
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
      <option value="2022">2022</option>
    </select>

    <select id="college" name="college">
      <option value="Franklin">Benjamin Franklin</option>
      <option value="Berkeley">Berkeley</option>
      <option value="Branford">Branford</option>
      <option value="Davenport">Davenport</option>
      <option value="Stiles">Ezra Stiles</option>
      <option value="Hopper">Grace Hopper</option>
      <option value="JE">Jonathan Edwards</option>
      <option value="Morse">Morse</option>
      <option value="Murray">Pauli Murray</option>
      <option value="Pierson">Pierson</option>
      <option value="Saybrook">Saybrook</option>
      <option value="Silliman">Silliman</option>
      <option value="TD">Timothy Dwight</option>
      <option value="Trumbull">Trumbull</option>
      <option value="Grad">Grad School</option>
      <option value="Other">Other</option>
    </select>

    <input type="submit" id="submit" />
  </form>

</body>

</html>
